@charset "UTF-8";

body {
    background: url('imagens/espaco.jpg') no-repeat;
    height: 100vh;
    margin: 0px;
    position: relative;
}
div#imagem-astro {
    background: url('imagens/astronauta.png') no-repeat fixed;
    background-size: contain;
    width: 500px;
    height: 508px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}