@charset "UTF-8";

body {
    background: url('imagens/espaco.jpg') no-repeat;
    margin: 0px;
}
div#imagem-astro {
    margin: auto;
    background: url('imagens/astronauta.png') no-repeat;
    width: 500px;
    height: 508px;
    margin-top: 50px;
}