@charset "UTF-8";

* {
    margin: 0;
    padding: 0;
}
img {
    display: block;
    width: 100vw;
}
a {
    position: relative;
    display: block;
    padding: 20px;
    background: #a00808;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bolder;
    font-size: 1em;
    color: white;
    text-decoration: none;
    text-align: center;
    text-transform: uppercase;
}
a:hover {
    background-color: #c50b0b;
    transition: background-color .6s;
}
::-webkit-scrollbar {
    height: 0;
    width: 0;
}