@charset "UTF-8";

* {
    margin: 0;
    padding: 0;
}
body {
    background: transparent url('../imagens/fundo-madeira.jpg') center center no-repeat fixed;
    background-size: cover;
}
main {
    position: relative;
    height: 100vh;
    width: 100vw;
}
nav#menu {
    position: absolute;
    top: 0;
    right: 0;
}
section#celular {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 627px;
    width: 311px;
    background: transparent url('../imagens/frame-iphone.png') top center no-repeat;
}
iframe#tela {
    position: relative;
    top: 79px;
    left: 20px;
    width: 270px;
    height: 475px;
}
a {
    display: block;
    height: 60px;
    width: 60px;
    margin: 20px;
    box-sizing: border-box;
    border-radius: 50%;
    box-shadow: 2px 2px 1px 1px transparent;
    color: white;
    background-color: black;
}
a:hover {
    border: 2px solid white;
    box-shadow: 2px 2px 1px 1px rgba(0, 0, 0, 0.425);
    transform: translate(-5px, -5px);
    transition: border .1s, box-shadow .3s;
}
a#home {
    background: transparent url('../imagens/logo-home.jpg') center center no-repeat;
    background-size: 100% 100%;
}
a#youtube {
    background: transparent url('../imagens/logo-youtube.jpg') center center no-repeat;
    background-size: 100% 100%;
}
a#github {
    background: transparent url('../imagens/logo-github.jpg') center center no-repeat;
    background-size: 100% 100%;
}
a#instagram {
    background: transparent url('../imagens/logo-instagram.jpg') center center no-repeat;
    background-size: 100% 100%;
}
a#twitter {
    background: transparent url('../imagens/logo-twitter.jpg') center center no-repeat;
    background-size: 100% 100%;
}
a#facebook {
    background: transparent url('../imagens/logo-facebook.jpg') center center no-repeat;
    background-size: 100% 100%;
}